<div class="col-md-6 offset-md-3">
  <h3> Update Product </h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group mb-3 mt-3">
      <label for="name" class="control-label"> Name </label>
      <input type="text" class="form-control" id="name"
        [(ngModel)] = "productComplete.name" name="name">
    </div>

    <div class="mb-3">
      <label for="productType"> Product Type </label>
      <input type="text" class="form-control" id="productType"
        [(ngModel)] = "productComplete.productType" name="productType">
    </div>

    <div class="mb-3">
      <label for="price"> Price </label>
      <input type="number" class="form-control" id="price"
        [(ngModel)] = "productComplete.price.price" name="price" disabled>
    </div>

    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" #discount
        [checked] = "productComplete.price.isDiscount"
        (change)="onDiscountChanged(discount.checked)"
        name="discount" disabled> Discount
      </label>
    </div>

    <button class="btn btn-success" type="submit"> Submit </button>
  </form>
</div>
